.side-container {
  background-color:#050541 !important;
  display: grid !important;
  grid-template-rows: 1fr;
  height: 100vh !important;
  width: 100% !important;

}
.sidebar-container {
  flex: 0 0 auto;
width: 100% !important;
  border-right: 1px solid #ccc;
  overflow: none;
  
}
.collapsed-side-container{
  background-color:#050541 !important;
  display: none;
}
.collapsed-sideMenu-container{
  display: none;
  
}
.content-container {
  overflow: scroll;
  flex: 1;
  padding: 20px;

  background-color: #f3f6f8 !important;
}

.sideMenu-container{
  width: 17.5% !important;
}

.router-container {
  display: flex;
  height: 98vh;
}
.menu {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.sub-Menu{
  color: grey;
  justify-self: stretch;
  margin: 4%;
}

.sub-Menu :hover {
  background-color:  #313167!important;
 border-radius: 6px;
}


.main-title{
  color: white;
  display: flex;
margin: 6%;
  font-size: 20px;

 
}

.main-title :hover{
 
  background-color: transparent !important;
}
.sub-Menu-active{
  background-color: #313167 !important;
  color: white !important;
  border-radius: 6px;
  margin: 4%;
}
.sub-Menu-active :hover{
  background-color:  #313167!important;
  border-radius: 6px;
}
.left-Menu-items{


padding: 7% 7%;


}
 


.user-menu {
  display: flex;
  align-items: center;
  color: white;


  padding: 3% 3%; /* Adjust padding as needed */
  border-radius: 10px; /* Add border radius if desired */
  background-color: #313167; /* Optional background color */
}
.user-menu-icon {
  width: 40px; /* Example width */
}
.user-menu-container {
  position: absolute !important;
  bottom: 50px !important; /* Adjust spacing as desired */
  left: 0;
  height: max-content !important;
  width: 100%; /* Match sidebar width */
}

.user-menu-container :hover {
  background-color: transparent !important; /* Or any other desired style */

  

 
}
.pro-sidebar .user-menu-container:hover {
  background-color: transparent;
  box-shadow: none;
}




.charts{
  display: flex;
}


.shaded-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  padding: 1.4rem;
  box-sizing: border-box;
}



.orders-icon {
  background: linear-gradient(to bottom, #e3dafe, #e3dafe);
}

.earning-icon {
  background: linear-gradient(to bottom, #effff3, #effff3);
}

.balance-icon {
  background: linear-gradient(to bottom, #d8f3ff, #d8f3ff);
}

.sales-icon {
  background: linear-gradient(to bottom, #f1ceed, #f1ceed);
}






.centered-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media screen and (max-width: 768px) {
 
  .collapsed-side-container {
    display: flex !important;
    min-width: 100% !important;
    width: 30% !important;
    height: 100vh;
  
  }
  .collapsed-sideMenu-container {
    display: grid !important;
    grid-template-rows: 1fr;
    width: 3% !important;
 
  }
  
  
  .dashboard-container {
    display: flex;
    margin-inline-start: 4rem;
   
  }
  .sidebar-container {
    display: none;
  }
  .sideMenu-container {
    display: none;
  }
  
  .side-container {
    display: none;
  }
  .dashboard-items {
    padding: .5rem  !important;
  }
 
  .shaded-icon {
    width: 10rem;
    height: 4rem;
  }

  .sub-Menu :hover {
    background-color:  #313167!important;
   border-radius: 6px;
  }
  
  
 
  .sub-Menu-active{
    background-color: #313167 !important;
    color: white !important;
    border-radius: 6px;
   
  }
  .left-Menu-items{


    padding: 2% 4%;
    
    
    }
 
    .css-1wvake5{
      min-width: 100% !important;
      width:30% !important;
    }
  .sub-Menu-active :hover{
    background-color:  #313167!important;
    border-radius: 6px;
  }
}

