.side-container {
  background-color:#050541 !important;
  display: grid !important;
  grid-template-rows: 1fr;
  height: 100vh !important;
  width: 100% !important;

}
.sidebar-container {
  flex: 0 0 auto;
width: 100% !important;
  border-right: 1px solid #ccc;
  overflow: none;
  
}

.content-container {
  overflow: scroll;
  flex: 1;
  padding: 20px;
  width: 82%; 
  background-color: #f3f6f8 !important;
}

.dashboard-container {
  display: flex;
 
}
.sideMenu-container{
  width: 17.5% !important;
}

.router-container {
  display: flex;
  height: 98vh;
}
.menu {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.sub-Menu{
  color: grey;
  justify-self: stretch;
  margin: 4%;
}

.sub-Menu :hover {
  background-color:  #313167!important;
 border-radius: 6px;
}


.main-title{
  color: white;
  display: flex;

  font-size: 20px;

 
}

.main-title :hover{
 
  background-color: transparent !important;
}
.sub-Menu-active{
  background-color: #313167 !important;
  color: white !important;
  border-radius: 6px;
  margin: 4%;
}
.sub-Menu-active :hover{
  background-color:  #313167!important;
  border-radius: 6px;
}
.left-Menu-items{


padding: 7% 7%;


}
 


.user-menu {
  display: flex;
  align-items: center;
  color: white;


  padding: 3% 3%; /* Adjust padding as needed */
  border-radius: 10px; /* Add border radius if desired */
  background-color: #313167; /* Optional background color */
}
.user-menu-icon {
  width: 40px; /* Example width */
}
.user-menu-container {
  position: absolute !important;
  bottom: 50px !important; /* Adjust spacing as desired */
  left: 0;
  height: max-content !important;
  width: 100%; /* Match sidebar width */
}

.user-menu-container :hover {
  background-color: transparent !important; /* Or any other desired style */

  

 
}
.pro-sidebar .user-menu-container:hover {
  background-color: transparent;
  box-shadow: none;
}




.charts{
  display: flex;
}


.shaded-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  padding: 1.4rem;
  box-sizing: border-box;
}



.orders-icon {
  background: linear-gradient(to bottom, #e3dafe, #e3dafe);
}

.earning-icon {
  background: linear-gradient(to bottom, #effff3, #effff3);
}

.balance-icon {
  background: linear-gradient(to bottom, #d8f3ff, #d8f3ff);
}

.sales-icon {
  background: linear-gradient(to bottom, #f1ceed, #f1ceed);
}






.centered-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media screen and (max-width: 768px) {
 
  .menu {
    flex-direction: row;
    justify-content: space-between;
  }



  .dashboard-items {
    padding: 0.5rem !important;
  }

  .shaded-icon {
    width: 10rem;
    height: 4rem;
  }
}

